/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #001931;
}

/* Navbar */
#navbar {
  background-color: #f8f8f8;
  padding: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  margin: 0 15px;
  text-decoration: none;
  color: #001931;
}
.btn-access {
  background-color: #30B868;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}